body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Add shadow */
}

h1 {
    text-align: center;
    color: #333;
}

input[type="file"] {
    margin-bottom: 10px;
    display: block;
    width: calc(100% - 20px); /* Adjusting the width */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light gray background */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
}
